<launch>
    <!-- <arg name="bag_name" default="offboard"></arg> -->
    <rosparam command="load" file="$(find offboard)/config/config.yaml" />
    <node name="offboard" pkg="offboard" type="offboard" output="screen"></node>
    <!-- <node name="record" pkg="rosbag" type="record" args="record -aO $(arg bag_name).bag"/> -->
</launch>